<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
.navbar {
  margin-bottom: 0;
  background-color: #40000000;
  border: none;
  &.navbar-default .navbar-nav>li>a,
  &.navbar-default .navbar-header .navbar-brand {
    font-family: cursive, sans-serif;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: white;
    &:hover, &:focus, &:active {
      color: gold;
    }
  }
}
section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &.home-intro {
    background-color: white;
    background-image: url('https://i.ytimg.com/vi/Y8xk1jRmMnA/maxresdefault.jpg');
   background-image-weight: 100;
    h1 {
      font-family:"Dancing Script";
      font-weight: 700;
      font-size: 60px;
      color: rgb(1, 255, 221);
      margin-top: 40px;
      margin-bottom: 15px;
      @media (min-width: 768px) {
        font-size: 90px;
      }
    }
    h2 {
      font-family: "Cantarell", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: yellow;
      padding-top: 10px;
      margin-top: 0;
      margin-bottom: 13px;
      border-top: 3px solid #363B3A;
      display: inline-block;
      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
        a {
          color: #48A0BB;
          transition: color 0.3s linear;
          &:hover, &:focus, &:active {
            color: #E33258;
          }
        }
      }
    }
  }
  &.about {
    background-color: #A4B5BF;
    opacity: 1;
    background-image: url('https://technoexploits.com/wp-content/uploads/2017/09/backlit-1024x768-1366x768.jpeg?86d8c4');
    color: #FEFDEB;
    font-family: "Cantarell", sans-serif;
    p {
      font-size: 16px;
      
      font-weight: 400;
      line-height: 1.4;
    }
    blockquote {
      font-family: "Cantarell", sans-serif;
      font-weight: 900;
    }
  }
  
  &.portfolio{
    background-color:white;
    background-image: url('http://shop.crayola.com/dw/image/v2/AALB_PRD/on/demandware.static/-/Sites-crayola-storefront/default/dwd006b846/images/category_headers/cat-header-colored-pencils_1920x716.jpg?sw=1920&sh=716');
    h2{
      margin-top: 40px;
      font-family: Times;
      color: black;
      font-weight:700;
      text-transform: uppercase;
    }
    .project{
      width:100%;
      height:200px;
      position:relative;
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 20px;
      .overlay{
        display:table;
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        bottom:0;
        right:0;
        left:0;
        
        background-color: rgba(8,8,8,0.7);
        overflow:hidden;
        z-index:10;
        transition:
          opacity 0.3s ease-in-out;
        h4{
          display: table-cell;
          vertical-align:middle;
          text-align:center;
          text-transform: uppercase;
          font-family:"Cantarell", sans-serif;
          font-size: 24px;
          color: #CDD7B6;
        }
      }
      &:hover
      .overlay, &:focus .overlay,
      &:active .overlay{
        opacity:0.4;
      }
    }
  }
  
  &.contact{
    background-color: #000000;
    background-image: url('http://theshrinkingcouch.com/wp-content/uploads/2018/02/quino-al-293094-unsplash-telephone-edited.jpg');
  
  h2 {
      font-family: "Cantarell", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #CDD7B6;
      text-transform: uppercase;
      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
h3 a {
      font-family: "Cantarell", sans-serif;
      font-weight: 700;
      font-size: 28px;
      text-transform: uppercase;
      text-decoration: none;
      color: #48A09B;
      transition: color 0.3s linear;
      &:hover, &:focus, &:active {
        color: #E33258;
      }
      @media (min-width: 768px) {
        font-size: 42px;
      }
    }
  }
  
 .vcenter {
    height: 100%;
    .row {
      height: 100%;
      display: table;
      div[class^="col-"] {
        display: table-cell;
        vertical-align: middle;
        float: none;
      }
    }
  }
}
  